[build]
  command = "npm run build"
  functions = "netlify/functions"
  publish = "dist"

[functions]
  included_files = ["./netlify/functions/**"]

[[redirects]]
  from = "/.netlify/functions/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[env.production]
  [env.production.context.production.environment]
    MONGODB_URI = "mongodb+srv://user:pass@cluster.mongodb.net/bmsit_attendance?retryWrites=true&w=majority"
    JWT_SECRET = "production-secret-key"
